head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    // add stylesheets
    link(rel="stylesheet", href="/stylesheets/all.min.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/index.css", type="text/css")
    // add scripts files
    script(src="scripts/jquery-3.4.1.js")
    script(src="scripts/popper.min.js")
    script(src="scripts/bootstrap.min.js")