doctype
html
    head
        title Hello
        link(rel="stylesheet", href="stylesheets/all.min.css", type="text/css")
        link(rel="stylesheet", href="stylesheets/bootstrap.min.css", type="text/css")

    body
        h2 workingfddsfdsf #[i.fas.fa-trash] 