.container-fluid(style="background-color:rgb(14, 13, 13)")
    .row.p-2
        .col-lg-4.col-4.text-center.p-2
            ul.nav.flex-column.text-light
                li.h5 Company
                li.m-1
                    a.text-light(href="#") Contact Us
                li.m-1
                    a.text-light(href="#") About
                li.m-1
                    a.text-light(href="#") Request A Feature
                li.m-1
                    a.text-light(href="#") FAQ
        .col-lg-4.offset-2.col-4.text-center.p-2
            ul.nav.flex-column.text-light
                li.h5 Support
                li.m-1
                    a.text-light(href="#") Report
                li.m-1
                    a.text-light(href="#") Help
                li.m-1
                    a.text-light(href="#") Mail Us
                li.m-1
                    a.text-light(href="#") Contact Us
        