nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="/")
        i.fas.fa-comment-dots.fa-2x.text-danger
        span.h4.text-dark.mx-2 The Tech Forums
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContent")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="/")
                    i.fas.fa-home 
                    |  Home
            li.nav-item
                a.nav-link(href="#")
                    i.fas.fa-list 
                    |  Topics
            li.nav-item
                a.nav-link(href="#")
                    i.fas.fa-comment 
                    |  Disussions
        form.form-inline.my-2.my-lg-0(action="#")
            input.form-control.shadow-sm.px-2.mr-sm-2.search-box(type="search", placeholder="Search Topics, Posts..")
            a.btn.btn-primary.m-2.px-3(href="/login") Login
            a.btn.btn-outline-success.m-2.px-3(href="/register") Join Now