nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#")
        span.h5.text-dark 
            i.fas.fa-comments.text-danger
            |The Tech Forums
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContent")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#")
                    i.fas.fa-home 
                    |  Home
            li.nav-item
                a.nav-link(href="#")
                    i.fas.fa-list 
                    |  Topics
            li.nav-item
                a.nav-link(href="#")
                    i.fas.fa-comment 
                    |  Disussions
        form.form-inline.my-2.my-lg-0(action="#")
            input.form-control.shadow-sm.px-2.form-control-sm.mr-sm-2.search-box(type="search", placeholder="Search Topics, Posts..")
            a.btn.btn-primary.btn-sm.m-2.px-3(href="#") Login
            a.btn.btn-outline-success.btn-sm.m-2.px-3(href="#") Join Now