nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="/")
        i.fas.fa-comment-dots.fa-2x.text-danger
        span.h4.text-dark.mx-2 The Tech Forums
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContent")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="/")
                    i.fas.fa-home 
                    |  
            li.nav-item
                a.nav-link(href="#")
                    i.fas.fa-list 
                    |  Topics
            li.nav-item
                a.nav-link(href="#")
                    i.fas.fa-comment 
                    |  Disussions
        if (session.userSession && session.userSession.authenticated)
            ul.ml-auto.nav
                li.nav-item.mx-2
                    form.form-inline.h-100(action="")
                        input.form-control(type="search", placeholder="Search", name="search")
                li.nav-item.mx-2
                    .dropdown.h-100
                        button.btn.btn-light.h-100.dropdown-toggle#usermenu(type="button", data-toggle="dropdown", area-haspopup="true", aria-expanded="false")= session.userSession.user.name
                        .dropdown-menu.dropdown-menu-right(aria-labelledby="usermenu")
                            a.dropdown-item(href=`/profiles/${session.userSession.user.username}`) My Profile
                            .dropdown-divider
                            a.dropdown-item(href="/logout") Logout
                li.nav-item
                    img.rounded-circle(width="50px", src=`/images/avtars/${session.userSession.user.avtar.filename}`)
        else
            ul.ml-auto.nav
                li.nav-item.mx-2
                    form.form-inline.h-100(action="")
                        input.form-control(placeholder="Search..", type="search")
                li.nav-item.mx-2
                    a.btn.btn-primary(href="/login") Login
                li.nav-item.mx-2
                    a.btn.btn-outline-success(href="/register") Join Now