doctype html
html
    include includes/head
    body
        include components/navbar
        .container
            .row.justify-content-center.py-2
                .col-12.col-md-6.py-2
                    h4.text-center Verify OTP
                    hr
                    form(action="/verifyaccount", method="POST")
                        .form-row
                            .col-12
                                .form-group
                                    input.form-control(type="text", placeholder="OTP", name="otp")
                            .col-12
                                .form-group
                                    input.btn.btn-success.btn-block(type="submit", value="Submit")